#Salin file ini menjadi .env dan sesuaikan nilainya
#Untuk sekarang menggunakan ip localhost namun jika ingin tes di hp jaringan sama diganti menjadi ipv4 laptop
VITE_API_URL=http://127.0.0.1:8000/api/v1